@use '../../../../styles/' as *;

.headerContent {
  display: flex;
  gap: $space-40;
}

.headerLeftSideContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: $space-32;
}

.eventNameWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: $space-16;
}

.imageContainer {
  width: 48%;
  height: 365px;
  position: relative;
  overflow: hidden;
}

.eventImage {
  height: 365px;
  width: 100%;
  border-radius: $border-radius-16;
  object-fit: cover;
}

.eventTitle {
  @include font-900-default-semibold;

  font-size: 38px;
  line-height: normal;
  width: 100%;
}

.eventScheduleDetails {
  display: flex;
  align-items: center;
  gap: $space-24;
}

.iconColor {
  color: #9092a3;
}

.eventScheduleItem {
  @include font-450-default-semibold;
  display: flex;
  align-items: center;
  gap: $space-8;
}

.eventImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #11191e52;
  border-radius: $border-radius-16;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-8;
  position: absolute;
  flex-direction: column;
}

.watchRecordingText {
  @include font-400-default-semibold;
}

.eventInfoList {
  display: flex;
  flex-direction: column;
  gap: $space-12;
}

.divider {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 100%;
  height: 1px;
  border: 0;
}

.evntTimezone {
  @include font-400-default-regular;
}

@media screen and (max-width: 1024px) {
  .imageContainer {
    height: 265px;
  }

  .eventImage {
    height: 265px;
  }
}

@media screen and (max-width: 768px) {
  .eventTitle {
    @include font-700-default-semibold;
  }

  .eventScheduleDetails {
    gap: $space-16;
  }

  .eventScheduleItem {
    @include font-400-default-semibold;
  }
}

@include smallAndBelow {
  .headerContent {
    flex-direction: column-reverse;
    gap: $space-32;
  }

  .imageContainer {
    width: 100%;
    height: 230px;
  }

  .eventImage {
    height: 230px;
  }

  .headerLeftSideContent {
    width: 100%;
  }

  .evntTimezone {
    margin-left: 8px;
  }
}

@include themify($themes) {
  .eventTitle {
    color: themed('text-primary-main');
  }

  .eventScheduleItem {
    color: themed('text-primary-main');
  }

  .divider {
    color: themed('border-secondary-transparent-soft-150-200');
    border-color: themed('border-secondary-transparent-soft-150-200');
    background-color: themed('border-secondary-transparent-soft-150-200');
  }

  .watchRecordingText {
    color: themed('text-primary-on-color-main');
  }

  .evntTimezone {
    color: themed('text-tertiary-400');
  }
}
