@use '../../../../styles/' as *;

.auraSatisfaction {
  @include shadow-soft-card-s;
  margin-top: $space-40;
  padding: $space-16;
  border-radius: $space-16;
  background-color: $white-alpha-400;
}

.auraSatisfactionLabel {
  @include font-400-default-semibold;
  color: #2f3237;
  margin-top: $space-8;
}

.auraSatisfactionText {
  @include font-350-default-regular;
  color: #5b657a;
  margin-top: $space-8;
}

@media screen and (max-width: 576px) {
  .auraSatisfaction {
    width: 100%;
  }
}
