@use '../../../../styles/' as *;

.paymentCard {
  position: relative;
  min-width: 340px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px !important;
}

.eventHeader {
  text-align: center;
}

.originalValueStrike {
  @include font-400-default-semibold;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: $space-4;
    right: $space-4;
    height: 1.5px;
    background-color: #9092a3;
    transform: rotate(13deg);
  }
}

.eventName {
  @include font-600-default-semibold;

  margin-top: 12px;
}

.eventDescription {
  @include font-350-default-regular;
}

.closeIcon {
  position: absolute;
  top: $space-16;
  right: $space-16;
  color: rgba(0, 0, 0, 0.6);
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: $space-12;
}

.checkbox {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: relative;
  background: #c5c6ce;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.gradientBackground {
  background: linear-gradient(277.58deg, #4ec8ff 5.87%, #1df4ed 94.13%);
  border: 0;
  box-shadow: 0 0 10px #4ec8ff;
}

.nonMemberTicketRadio {
  background-color: $white-alpha-main;
  width: 100%;
  margin-top: $space-12;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-16;
  box-shadow: 0 4px 26px 0 rgba(43, 42, 107, 0.08);
  border-radius: $border-radius-12;
  cursor: pointer;
}

.nonMemberTicketText {
  @include font-400-default-regular;
  font-size: 18px;
}

.nonMembersPrice {
  @include font-400-default-regular;
  font-size: 14px;
}

.joinCommunityRadioWrapper {
  background-color: $white-alpha-main;
  box-shadow: 0 4px 26px 0 rgba(43, 42, 107, 0.08);
  border-radius: $border-radius-12;
  cursor: pointer;
}

.joinCommunityRadio {
  width: 100%;
  margin-top: $space-12;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-16;
}

.joinCommunityText {
  @include font-600-default-semibold;
  font-size: 18px;
}

.joinCommunityBestValue {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  max-height: 24px;
  padding: 10px $space-12;
  background: linear-gradient(242deg, #9dd400 17.31%, #5ce4b3 82.69%);
}

.joinCommunityBestValueText {
  @include font-600-default-semibold;
  color: $white-alpha-main;
  font-size: 13px;
}

.horizontalRow {
  border-bottom: 1px solid #5b657a;
  width: 100%;
  opacity: 0.2;
}

.communityOfferingsSection {
  padding: $space-0 $space-16;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap: $space-16;
}

.offerTitle {
  @include font-400-default-regular;
  font-size: 16px;
  line-height: 37px;
}

.offerValue {
  @include font-400-default-regular;
  font-size: 18px;
}

.totalValue {
  padding: $space-12 $space-16 $space-16;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap: $space-16;
}

.totalValueText {
  @include font-600-default-semibold;
  font-size: 16px;
  line-height: 37px;
}

.yourCost {
  padding: $space-0 $space-16 $space-12;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap: $space-16;
}

.yourCostText {
  @include font-600-default-semibold;
  font-size: 16px;
  line-height: 37px;
}

.totalValueStrike {
  @include font-600-default-semibold;

  font-size: 16px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: $space-4;
    right: $space-4;
    height: 1.5px;
    background-color: #ff3b30;
    transform: rotate(13deg);
  }
}

.yourCostPerMonth {
  @include font-600-default-semibold;
  font-size: 16px;
  background: linear-gradient(196deg, #9dd400 0%, #5ce4b3 103.24%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardDetailSection {
  box-shadow: 0 4px 26px 0 rgba(43, 42, 107, 0.08);
  margin-top: $space-12;
  border-radius: $border-radius-16;
  padding: $space-16;
}

.cardDetailCheckedText {
  @include font-600-default-semibold;
  font-size: 16px;
}

.creditCardSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-16 $space-0;
}

.creditCardsImage {
  width: 140px;
}

.paymentProtected {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-8;
}

.paymentProtectedIcon {
  width: 20px;
}

.paymentProtectedText {
  @include font-400-default-regular;
  font-size: 12px;
}

.acceptCommunityGuidelinesText {
  @include font-325-default-regular;
  text-align: center;
  margin-top: $space-16;
  max-width: 257px;
}

.stripeSecureImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $space-16;
}

.stripeSecureImage {
  width: 200px;
}

.eventPriceDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px 0 20px;
}

.eventPrice {
  @include font-400-default-semibold;
}

.discountText {
  @include font-350-default-regular;
  text-align: center;
  margin-top: 8px;
}

.discount {
  background: linear-gradient(196deg, #9dd400 0%, #5ce4b3 103.24%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@include themify($themes) {
  .eventPrice {
    color: themed('text-primary-main');
  }

  .discountText {
    color: themed('text-secondary-500');
  }

  .acceptCommunityGuidelinesText {
    color: themed('text-tertiary-400');
  }

  .paymentProtectedText {
    color: themed('text-tertiary-400');
  }

  .cardDetailCheckedText {
    color: themed('text-primary-main');
  }

  .totalValueStrike {
    color: themed('text-error');
  }

  .yourCostText {
    color: themed('text-primary-main');
  }

  .totalValueText {
    color: themed('text-primary-main');
  }

  .offerValue {
    color: themed('text-tertiary-400');
  }

  .offerTitle {
    color: themed('text-primary-main');
  }

  .joinCommunityText {
    color: themed('text-primary-main');
  }

  .nonMembersPrice {
    color: themed('text-tertiary-400');
  }

  .nonMemberTicketText {
    color: themed('text-primary-main');
  }

  .eventDescription {
    color: themed('text-tertiary-400');
  }

  .eventName {
    color: themed('text-primary-main');
  }

  .originalValueStrike {
    color: themed('text-tertiary-400');
  }
}

@media screen and (max-width: 576px) {
  .creditCardsImage {
    width: 100px;
  }
}
