@use '../../../../../styles' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $space-20;
  position: relative;
  overflow: hidden;
  background-color: #f7fbfc;
  background: url('/static/images/success-gradient.png') no-repeat center;

  @media (max-width: 768px) {
    padding: $space-16;
  }
  height: 100dvh;
}

.content {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.logoContainer {
  margin-top: 70px;
}

.logo {
  margin-bottom: 30px;
}

.auraLogo {
  height: 104px;
  position: relative;
}

.countdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  position: fixed;
  bottom: $space-6;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 375px;
  padding: $space-0 $space-16;
  border-radius: 10px;
}

.countdownCircle {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: $space-16;
}

.countdownNumber {
  font-size: 18px;
  font-weight: 700;
  color: $gray-main;
}


.takeToAppButton {
  @include shadow-medium-xs;
  border: 1px solid rgba(43, 42, 107, 0.1);
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 600;
  color: $gray-main;
  background-color: $white-alpha-main;
  cursor: pointer;
  width: 100%;
  height: 56px;
  margin-bottom: $space-20;
  transition: all 0.2s ease;

  &:hover {
    background-color: $white-alpha-400;
  }
}

