@use '../../../styles' as *;

.accordionList {
  list-style: none;
  margin: $space-0;
  padding: $space-0;
  border-radius: $border-radius-6;
  display: flex;
  flex-direction: column;
  gap: $space-12;
}

.accordionListFull {
  width: 961px;
  margin: auto;
}

.accordionListItem {
  @include shadow-soft-card-s;

  border-radius: $border-radius-12;
  cursor: pointer;
}

.accordionItemOpened .accordionItemIcon {
  transform: rotate(180deg);
}

.accordionItemOpened .accordionItemInner {
  max-height: 100rem;
  border-radius: 0 0 $border-radius-12 $border-radius-12;
  padding: $space-4;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 0.5s;
  transition-property: max-height;
}

.accordionItemOpened .accordionItemContent {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}

.accordionItemLine {
  display: block;
  padding: $space-16;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white-alpha-main;
  z-index: 2;
  position: relative;
  border-radius: $border-radius-12;
}

.accordionItemOpened .accordionItemLine {
  border-radius: $border-radius-12 $border-radius-12 0 0;
}

.accordionItemTitle {
  @include font-450-default-semibold;

  margin: $space-0;
  padding: $space-4;
  color: #2f3237;
  font-style: normal;
}

.accordionItemIcon {
  width: 14px;
  height: 14px;
  color: #2f3237;
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/static/icons/arrow-down.svg');
}

.accordionItemInner {
  max-height: 0;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-property: max-height;
  z-index: 1;
  position: relative;
  background-color: $white-alpha-main;
}

.accordionItemContent {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: linear, ease;
  transition-duration: 0.1s;
  transition-property: opacity, transform;
  transition-delay: 0.5s;
  padding: $space-0 $space-20 $space-20;
}

.accordionItemParagraph {
  @include font-400-default-regular;

  margin: $space-0;
  color: #2f3237;
  font-style: normal;
}

@media screen and (max-width: 576px) {
  .accordionItemTitle {
    @include font-400-default-semibold;
  }

  .accordionItemParagraph {
    @include font-400-default-regular;
  }

  .accordionList {
    width: 100%;
  }

  .accordionItemLine {
    padding: $space-16 $space-16;
  }
}
