@use '../../../../styles/' as *;

.eventInfoSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $space-72;
}

@media screen and (max-width: 768px) {
  .eventInfoSection {
    gap: $space-64;
  }
}
