@use '../../../../styles/' as *;

.benefitsSection {
  display: flex;
  flex-direction: column;
  gap: $space-40;
  align-items: center;
  width: 100%;
}

.benefitsTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-32;
  width: 100%;
}

.benefitsText {
  @include font-800-default-semibold;

  text-align: center;
}

.benefitsSectionTitle {
  @include font-600-default-regular;
  font-size: 42px;
  margin-bottom: $space-32;
}

.benefitsListWrapper {
  display: flex;
  gap: $space-20;
  width: 100%;
  flex-direction: row;
}

.benefitCard {
  @include shadow-soft-card-s;
  padding: $space-20;
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $space-12;
  flex: 1 0 0;
  border-radius: $space-16;
}

.benefitContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $space-6;
  width: 100%;
}

.benefitTitle {
  @include font-550-default-semibold;
  text-transform: capitalize;
}

.benefitText {
  @include font-400-default-regular;
}

.benefitCount {
  @include font-700-default-semibold;
}

.benefitsWrapper {
  position: relative;
  width: 100%;
}

.benefitsBackground {
  position: absolute;
  border-radius: 99999px;
  opacity: 0.2;
  background: conic-gradient(from 90deg at 50.36% 50.36%, #f3ff69 0deg, #ff9473 86.24999821186066deg, #ffadf7 183.75000715255737deg, #84bcff 268.1250071525574deg, #65ff3f 360deg);
  filter: blur(125px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@include themify($themes) {
  .benefitCard {
    background: themed('background-primary-main');
  }

  .benefitsText {
    color: themed('text-primary-main');
  }

  .benefitsSectionTitle {
    color: themed('text-primary-main');
  }

  .benefitTitle {
    color: themed('text-primary-main');
  }

  .benefitText {
    color: themed('text-secondary-500');
  }

  .benefitCount {
    color: themed('text-primary-main');
  }
}

@media screen and (max-width: 576px) {
  .benefitsTextContainer {
    gap: 24px;
  }

  .benefitsText {
    @include font-600-default-semibold;
    text-align: left;
    width: 100%;
  }

  .benefitsListWrapper::-webkit-scrollbar {
    display: none;
  }

  .benefitsListWrapper {
    @include shadow-soft-card-s;
    overflow: scroll;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100vw !important;
    margin-left: -5vw;
    margin-right: -50vw;
    padding-left: $space-20;
    padding-right: $space-20;
  }

  .benefitCard {
    min-width: 220px;
    padding: $space-20;
    gap: $space-12;
    border-radius: $space-16;
  }

  .benefitCount {
    @include font-500-default-semibold;
  }

  .benefitTitle {
    @include font-450-default-semibold;
  }

  .benefitText {
    @include font-400-default-regular;
  }
}
