@use '../../../styles/' as *;

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $space-20;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  position: relative;
  gap: $space-12;
  align-items: center;
  margin: $space-32 0 80px;
}

.auraLogo {
  width: 56px;
  height: auto;
}

.buttonWrapper {
  justify-content: space-between;
  height: 72px;
  border-radius: 16px;
  margin-bottom: unset !important;

  svg path {
    stroke: #9092a3;
  }
}

.howOldText {
  @include font-450-default-regular;
}

.headingText {
  @include font-700-default-semibold;

  text-align: center;
}

.gradientHeadingText {
  @include font-700-default-bold;

  text-align: center;
  background: linear-gradient(90deg, #d270e9 0%, #8d86fd 33.33%, #63c2fd 66.67%, #67f6cb 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.minQuizText {
  @include font-400-default-regular;

  margin-top: $space-8;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: $space-16;
}

.auraAddress {
  @include font-275-default-regular;

  text-align: center;
}

.footerItems {
  @include font-300-default-regular;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-16;

  a {
    text-decoration: none;
    color: unset;
  }
}

@include themify($themes) {
  .buttonWrapper {
    color: themed('text-primary-main');
  }

  .howOldText {
    color: themed('text-tertiary-400');
  }

  .headingText {
    color: themed('text-primary-main');
  }

  .auraAddress {
    color: themed('text-tertiary-400');
  }

  .minQuizText {
    color: themed('text-tertiary-400');
  }

  .footerItems {
    color: themed('text-secondary-500');
  }
}
