@use '../../../styles/' as *;

.videoPlayer {
  height: 100%;
  max-width: 100%;
  position: relative;
}

.videoPlayer video {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.portraitVideo {
  height: 580px;
}

.portraitVideo .video {
  object-fit: contain;
  width: auto;
}

.playButton {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.videoDuration {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: $space-2 $space-6;
  bottom: $space-16;
  left: $space-16;
  position: absolute;
}

.loaderArea {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 180px;
  min-width: 320px;
}

.errorMessage {
  border-radius: 10px;
  left: 50%;
  padding: $space-2 5px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.progressBar {
  bottom: $space-0;
  left: 2%;
  overflow: hidden;
  position: absolute;
  width: 96%;
}

.videoLoader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.retryButtonArea {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.retryOpacity {
  border-radius: 100%;
  height: 56px;
  opacity: 0.7;
  width: 56px;
}

.retryButtonText {
  position: absolute;
}

.replyMessage {
  margin-top: -30px;
  z-index: 2;
}

.modalVideo {
  border-radius: $border-radius-16;
}

.modalOverlay {
  position: fixed;
  top: $space-0;
  left: $space-0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  padding: $space-20;
  border-radius: $space-16;
  max-width: 80%;
}

.closeModalButton {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  color: $white-alpha-main;
  opacity: 0.75;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(17, 25, 30, 0.12);
}

@media screen and (max-width: 576px) {
  .modalOverlay {
    align-items: center;
  }

  .modalContent {
    max-width: 90%;
    max-height: 80%;
    padding: $space-0;
  }
}
