@use '../../../../../../styles/' as *;

.coachInfoHeader {
  display: flex;
  gap: $space-16;
  align-items: center;
}

.yourCoachProfileImage {
  height: 58px;
  width: 58px;
  border-radius: $border-radius-full;
}

.yourCoachName {
  @include font-450-default-semibold;
}

.yourCoachDesignation {
  @include font-400-default-regular;
}

@include themify($themes) {
  .yourCoachName {
    color: themed('text-primary-main');
  }

  .yourCoachDesignation {
    color: themed('text-secondary-500');
  }
}

@media screen and (max-width: 576px) {
  .yourCoachProfileImage {
    height: 52px;
    width: 52px;
  }

  .yourCoachName {
    @include font-400-default-semibold;
  }

  .yourCoachDesignation {
    @include font-350-default-regular;
  }
}
