* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.page-body {
  background: #000;
  color: #fff;
  font-family: Proximanova, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

div {
  font-family: Proximanova, sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.custom-container {
  max-width: 1320px;
  margin: 0 auto;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* ------------------------- Header Section ------------------------- */
.nav-main {
  padding: 24px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  position: relative;
  z-index: 99;
}

.nav-main-no-border {
  border: unset;
}

.nav-main .logo {
  width: 128px;
  height: auto;
}

/* .nav-main .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

/* ------------------------- Banner Section ------------------------- */
.banner-main-warpper {
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.banner-main-warpper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background: #000;
  filter: blur(16.05515480041504px);
}

.banner-main-warpper .banner-main {
  min-height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: visible;
  padding: 55px 80px;
  z-index: 50;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000 100%);
}

.banner-main .banner-detail {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ashley-greene-banner {
  background: url(/static/images/celebrities/ashleyGreene/background.webp) no-repeat center;
  background-size: cover;
}

.ashley-greene-banner-new {
  background: url(/static/images/celebrities/ashleyGreene/deskAshelyBg.webp) no-repeat center;
  background-size: cover;
}

.greg-louganis-banner {
  background: url(/static/images/celebrities/gregLouganis/background.webp) no-repeat center;
  background-size: cover;
}

.greg-louganis-banner-new {
  background: url(/static/images/celebrities/gregLouganis/deskGregBg.webp) no-repeat center;
  background-size: cover;
}

.michael-beasley-banner {
  background: url(/static/images/celebrities/michaelBeasley/background.webp) no-repeat center;
  background-size: cover;
}

.best-of-apple {
  margin: 5px 0 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.loved-by-text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 135%;
  letter-spacing: 0.13px;
}

.banner-detail .banner-head {
  color: #fff;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  line-height: 116%;
  /* 27.84px */
  filter: drop-shadow(0px 0px 21.536914825439453px rgba(255, 255, 255, 0.75));
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 850px;
}

.banner-detail .ashley-greene,
.banner-detail .greg-louganis {
  max-width: 1000px;
}


.cross-img {
  height: 28px;
  width: auto;
}

.banner-detail .banner-sub-head {
  color: #ffffffb3;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.get-unlimited-access-text {
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0px 1.2073196172714233px 12.073195457458496px rgba(0, 0, 0, 0.30);
  max-width: 65%;
}

.hero-play-icon {
  width: 80px;
  margin-bottom: 40px;
}

.banner-detail .banner-text {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  text-shadow: 0px 2.4193549156188965px 24.19355010986328px 0px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  margin-top: 30px;
  max-width: 80%;
}

.banner-detail .banner-button-group {
  position: relative;
  padding-bottom: 20px;
}

.banner-detail .banner-button-group::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 30%;
  border-radius: 99px;
  opacity: 0.699999988079071;
  background: linear-gradient(216deg, #03a9f4 0%, #01f8ef 100%);
  filter: blur(25px);
  z-index: 1;
}

.banner-main .banner-detail .banner-button-group .banner-button {
  border-radius: 99px;
  background: linear-gradient(270deg, #1df5ed 0%, #4ccaff 100%);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.4) inset;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 28px;
  width: 310px;
  padding: 25px;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all ease-in-out 0.3s;
}

.banner-main .banner-detail .banner-button-group .banner-button:hover {
  background: linear-gradient(270deg, #1df5edbd 0%, #4ccaffad 100%);
}

.banner-main .banner-detail .banner-link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}

.banner-main .banner-detail .banner-link .banner-link-text {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2.4193549156188965px 24.19355010986328px 0px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
  /* 25px */
  position: relative;
}

.banner-main .banner-detail .banner-link .banner-link-text::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.banner-main .banner-ring-img {
  position: absolute;
  /* top: -120px; */
  top: 20px;
  left: auto;
  right: auto;
  transform: none;
  perspective-origin: 50%;
  transform-origin: 50%;
  z-index: 0;

  /* height: calc(100vh - 40%); */
}

.banner-ring-img .banner-ring-wrap {
  filter: blur(15px);
  width: 500px;
  height: 500px;
  display: flex;
}




.banner-ring-wrap .banner-ring {
  background: conic-gradient(from 90deg at 50% 50%,
      #ff5050 0deg,
      #ff9500 52.82deg,
      #fff700 101.71deg,
      #6fff00 151.32deg,
      #00fff7 202.69deg,
      #476cff 251.79deg,
      #b836ff 304.76deg,
      #ff4d4d 355.47deg,
      #ff5050 360deg) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  border: 35px solid transparent;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: rotate 9s linear infinite;
}

.banner-white-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid #fff;
  border-radius: 50%;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.banner-main .banner-user-img {
  position: absolute;
  top: -40px;
  left: auto;
  right: auto;
  transform: none;
  perspective-origin: 50%;
  transform-origin: 50%;
  z-index: 1;
  max-width: 360px;
  /* width: calc(100vw - 75%); */
}

.banner-main .michael-beasley-user {
  top: 0px;
  max-width: 470px;
}

.banner-main .greg-louganis-user {
  top: 0px;
  max-width: 470px;
}

.banner-main .banner-gradient-wrap {
  position: absolute;
  bottom: 180px;
  width: 100%;
  height: 400px;
  /* height: 100%; */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  z-index: 4;
}

.banner-main .banner-gradient-wrap::before {
  content: "";
  position: absolute;
  bottom: -190px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #000;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


.arrow-move {
  animation: bounce 1600ms infinite;
  margin-top: 10px;
}

@keyframes bounce {
  0% {
    transform: translateX(0px) translateY(0px);
    transition: transform 800ms ease-out 0s;
  }

  50% {
    transform: translateX(0px) translateY(10px);
    transition: transform 600ms ease-in 0s;
  }

  100% {
    transform: translateX(0px) translateY(0px);
    transition: transform 800ms ease-out 0s;
  }
}

@media screen and (max-width: 1441px) {
  .banner-main .banner-user-img {
    width: 30%;
  }

  .banner-main .michael-beasley-user {
    width: 40%;
    max-width: 480px;
    top: 0px;
  }

  .banner-main .greg-louganis-user {
    width: 40%;
    max-width: 480px;
  }
}

/* ------------------------- Masterclass Section ------------------------- */
.masterclass-main {
  padding: 30px 0 0;
  z-index: 2;
  position: relative;
}

.footer-detail .footer-head {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
  padding: 0 20px;
}

.masterclass-main .masterclass-head {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.masterclass-main .video-main {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  height: 400px;
}

.video-main .video-container {
  flex: 1.7;
}

.video-main .video-detail-desktop {
  display: block;
}

.video-main .video-wrapper {
  position: relative;
  max-height: 400px;
  overflow: hidden;
  border-radius: 16px;
}

.video-main .video-detail-mobile {
  display: none;
}

.video-main .video-wrapper img {
  width: 100%;
}

.video-main .video-wrapper .video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-main .video-play-list-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  height: inherit;
  overflow: auto;
}

.video-main .video-play-list-main::-webkit-scrollbar {
  display: none;
}

.video-play-list-main .video-trailer {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: rgba(144, 146, 163, 0.2);
  padding: 12px 16px;
  border-radius: 17px;
  position: relative;
  margin-bottom: 12px;
}

.video-trailer .trailer-icon {
  position: relative;
  height: 40px;
}

.quote-section .quote-icon {
  width: 100px;
  margin-bottom: 30px;
}

.quote-section .quote-text {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  line-height: 125%;
}

.video-trailer span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.video-play-list-main .video-head {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.video-play-list-main .video-play-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.video-play-list .playlist-card {
  display: flex;
  background-color: rgba(144, 146, 163, 0.2);
  padding: 12px 16px;
  gap: 16px;
  border-radius: 17px;
  flex-direction: column;
}


.playlist-card .playlist-card-wrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

.playlist-card-wrap .playlist-card-number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
}

.playlist-card .play-card-title {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  display: flex;
}

.playlist-card .play-card-sub-title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
  /* 18.9px */
}

.playlist-card-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.video-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* width: 60%; */
  margin-top: 50px;
}

.video-detail .video-detail-head {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.video-detail .video-detail-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  max-width: 1046px;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-wrap
}

/* ------------------------- Divider Section ------------------------- */
.divider {
  opacity: 0.20000000298023224;
  background: #fff;
  max-width: 1320px;
  width: 100%;
  height: 1px;
  margin: 44px auto;
}

/* ------------------------- About-us Section ------------------------- */
.quote-section {
  display: flex;
  flex-direction: column;
  padding: 30px 25px 0;
  align-items: center;
  max-width: 1046px;
  margin-left: auto;
  margin-right: auto;
}

.more-button {
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
  padding: 0 10px;
}

.about-us .about-head {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 30px;
}

.video-detail .about-banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 265px;
  position: relative;
  margin: 50px auto 40px;
  border-radius: 16px;
  max-width: 1046px;
  width: 100%;
}

.about-banner-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 340px;
}

.about-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  /* 24.3px */
  /* width: 660px; */
  max-width: 70%;
  margin: 0 auto;
}

/* ------------------- new ------------------- */
/* ------------------------- Membership Section ------------------------- */
.membership-main {
  margin: 110px 100px 0;
}

.membership-main .membership-wrap {
  border-radius: 16px;
  background: rgba(217, 217, 217, 0.2);
  padding: 45px 75px 35px;
}

.membership-wrap .membership-head {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.membership-wrap .membership-details {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  z-index: 2;
}

.membership-wrap .membership-details-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.membership-wrap .membership-details::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border-radius: 500px;
  opacity: 0.2;
  background: conic-gradient(from 90deg at 50.36% 50.36%,
      #f3ff69 0deg,
      #ff9473 86.24999821186066deg,
      #ffadf7 183.75000715255737deg,
      #84bcff 268.1250071525574deg,
      #65ff3f 360deg);
  filter: blur(100px);
  z-index: 0;
}

.membership-details .details-wrap {
  display: flex;
  align-items: center;
  gap: 25px;
  max-width: 500px;
}

.details-wrap .details-text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
}

.membership-details .details-button-wrap {
  position: relative;
}

.details-button-wrap .details-button {
  border-radius: 99px;
  background: linear-gradient(270deg, #1df5ed 0%, #4ccaff 100%);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.4) inset;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 28px;
  width: 310px;
  padding: 25px;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.details-button-wrap .details-button::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border-radius: 99px;
  opacity: 0.699999988079071;
  background: linear-gradient(270deg, #74d4ff 0%, #1de7f4 100%);
  filter: blur(27.83px);
  z-index: -1;
}

/* ------------------------- Popular Section ------------------------- */
.popular-main .popular-head {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}

.popular-main .popular-wrap {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.popular-wrap .popular-card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.popular-wrap .popular-card img {
  object-fit: cover;
  height: 100%;
}

.popular-card .popular-card-head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
  text-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.7);
  margin: 0;
}

.popular-card .popular-details {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  fill: rgba(144, 137, 152, 0.05);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  padding: 10px 0 15px;
}

.popular-details .popular-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}

.popular-details .popular-type {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

/* ------------------------- Footer Section ------------------------- */
.footer-main .footer-copy-right {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 25px;
  margin-bottom: 80px;
}

.footer-main .footer-copy-right .copy-right {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.footer-main .footer-copy-right .contact {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.footer-main .footer-copy-right .contact a {
  text-decoration: underline;
  color: #fff;
}

.footer-main .footer-contact {
  background: #1d1d20;
  padding: 15px 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  visibility: hidden;
  z-index: 99;
  transition: transform .5s ease, opacity .5s ease, visibility .5s ease;
}

.footer-main .fix-footer-bottom {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.footer-main .footer-contact-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer-main .footer-contact-text {
  color: #fff;
  text-shadow: 0px 2.4193549156188965px 24.19355010986328px 0px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  /* 22.5px */
}

.footer-main .footer-contact-button {
  border-radius: 108.9px;
  background: linear-gradient(270deg, #74d4ff 0%, #1de7f4 100%);
  border: 0;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4.400000095367432px 15.40000057220459px 0px rgba(0, 0, 0, 0.15);
  font-size: 19.8px;
  font-weight: 700;
  line-height: 24.2px;
  /* 122.222% */
  padding: 13px 23px;
  width: 180px;
}

.footer-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 770px; */
}

.footer-detail .footer-detail-img {
  margin-bottom: -70px;
}

.footer-detail-img-wrap {
  position: relative;
}

/* .footer-detail .footer-detail-img-wrap::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 680px;
  height: 1px;
  opacity: 0.20000000298023224;
  background: #fff;
} */

/* .footer-detail .footer-head {
  color: #fff;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  line-height: 56px;
  filter: drop-shadow(0px 0px 21.536914825439453px rgba(255, 255, 255, 0.75));
  position: relative;
} */

/* .footer-detail .footer-head::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 680px;
  height: 1px;
  opacity: 0.20000000298023224;
  background: #fff;
} */
.footer-detail .footer-sub-head {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  margin-top: 5px;
  line-height: 27.5px;
}

.footer-detail .footer-text {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  text-shadow: 0px 2.4193549156188965px 24.19355010986328px 0px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  max-width: 525px;
}

.footer-detail .footer-button-group {
  position: relative;
  padding-bottom: 32px;
}

.footer-detail .footer-button-group .footer-button {
  border-radius: 99px;
  background: linear-gradient(270deg, #1df5ed 0%, #4ccaff 100%);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.4) inset;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 25px;
  width: 310px;
  padding: 20px;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.footer-detail .footer-button-group .footer-button::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border-radius: 99px;
  opacity: 0.699999988079071;
  background: linear-gradient(216deg, #03a9f4 0%, #01f8ef 100%);
  filter: blur(25px);
  z-index: -1;
}

.footer-detail .michel-footer-detail-img-wrap::after {
  bottom: 12px;
}

.footer-detail .greg-footer-detail-img-wrap::after {
  bottom: 12px;
}

@media screen and (max-width:1399px) {

  .custom-container,
  .divider {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .masterclass-main .video-main {
    height: 330px;
  }

  .custom-container {
    max-width: 100%;
    margin: 0;
    padding: 0 25px;
  }

  .nav-main {
    padding: 24px 0;
  }

  .nav-main .logo {
    width: 118px;
    height: auto;
  }

  .banner-main .banner-user-img {
    width: 40%;
  }

  .banner-main .michael-beasley-user {
    width: 50%;
    max-width: 450px;
    top: 10px;
  }

  .divider {
    max-width: 95%;
  }

  .video-detail .about-banner {
    max-width: 850px;
  }

  .video-detail .video-detail-text {
    max-width: 850px;
  }

  .quote-section {
    max-width: 850px;
  }

  .banner-detail .banner-text {
    max-width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .masterclass-main .video-main {
    height: 260px;
  }

  .banner-main .banner-user-img {
    width: 50%;

  }

  .banner-main .michael-beasley-user {
    width: 60%;
    top: 10px;
    max-width: 450px;
  }

  .banner-main .greg-louganis-user {
    top: -20px;
    width: 60%;
  }



  .video-main .video-wrapper {
    width: 100%;
  }

  .video-main .video-play-list-main {
    width: 100%;
  }

  .video-detail {
    width: 100%;
    margin-top: 30px;
  }

  .about-us .about-banne {
    max-width: 100%;
  }

  .banner-main .banner-detail .banner-link .banner-link-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
  }

  .banner-detail .banner-text {
    max-width: 85%;
  }
}


@media screen and (max-width: 767px) {
  .quote-section {
    padding-left: 25px;
    padding-right: 25px;
  }

  .video-main {
    flex-direction: column;
  }

  .video-main .video-detail-desktop {
    display: none;
  }

  .video-main .video-detail-mobile {
    display: block;
  }

  .banner-main .banner-detail .banner-button-group .banner-button {
    width: 250px;
    padding: 15px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
  }

  .get-unlimited-access-text {
    font-size: 13px;
    line-height: 125%;
    max-width: 90%;
  }

  .hero-play-icon {
    width: 60px;
    /* margin-bottom: 30px; */
  }

  .cross-img {
    height: 22px;
    width: auto;
  }

  .nav-main .logo {
    width: 90px;
    height: auto;
  }

  .nav-main {
    border-bottom-color: transparent;
  }

  .banner-main-warpper {
    background-position: 55%;
    background-size: cover;
  }

  .banner-main {
    height: 520px;
  }

  .banner-ring-img .banner-ring-wrap {
    width: 320px;
    height: 320px;
  }

  .quote-section .quote-icon {
    width: 60px;
  }

  .quote-section .quote-text {
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
  }

  .banner-ring-wrap .banner-ring {
    border-width: 25px;
  }

  .banner-white-ring {
    border-width: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }

  .banner-main .banner-user-img {
    top: 0;
    width: 55%;
  }

  .banner-main .michael-beasley-user {
    width: 85%;
  }

  .banner-main .banner-gradient-wrap {
    bottom: 120px;
    height: 330px;
  }

  .banner-main .greg-louganis-user {
    top: -5px;
    width: 80%;
  }

  .banner-main .banner-ring-img {
    top: 30px;
  }

  .banner-detail .banner-head {
    margin-bottom: 3px;
  }

  .banner-detail .banner-head,
  .banner-detail .banner-head {
    font-size: 24px;
    line-height: 116%;
    /* 27.84px */
    margin-bottom: 5px;
  }

  .banner-detail .banner-head svg {
    width: 18px;
    height: auto;
  }

  .banner-detail .banner-head {
    margin-bottom: 3px;
  }

  .banner-detail .banner-head {
    font-size: 24px;
    line-height: 116%;
    /* 27.84px */
    margin-bottom: 5px;
  }

  .banner-detail .banner-sub-head,
  .footer-detail .footer-sub-head {
    font-size: 18px;
    line-height: 125%;
  }

  .banner-detail .banner-text {
    max-width: 100%;
    font-size: 13px;
    line-height: 130%;
    padding: 0 10px;
    margin-top: 5px;
  }

  .banner-detail .banner-text,
  .footer-detail .footer-text {
    font-size: 13px;
    line-height: 16px;
    padding: 0 10px;
  }

  .banner-main .banner-wrapper .banner-detail .banner-button-group .banner-button,
  .footer-detail .footer-button-group .footer-button,
  .details-button-wrap .details-button {
    width: 250px;
    padding: 15px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
  }

  .banner-main .banner-wrapper .banner-detail .banner-link .banner-link-text {
    font-size: 16px;
  }

  .footer-detail .footer-head {
    font-size: 24px;
    line-height: normal;
  }

  .video-main .video-container {
    width: 100%;
  }

  .masterclass-main .masterclass-head {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 18px;
  }

  .video-main .video-wrapper .video-play {
    width: 45px;
  }

  .masterclass-main .video-main {
    gap: 10px;
    height: auto;
  }

  .video-play-list-main .video-trailer {
    margin-bottom: 16px;
  }

  .video-detail {
    gap: 8px;
  }

  .video-detail .video-detail-head {
    font-size: 24px;
  }

  .video-detail .video-detail-text {
    font-size: 16px;
    line-height: 21px;
  }

  .video-detail .about-banner {
    height: 170px;
    margin: 30px auto 15px;
  }

  .about-banner-img {
    height: 210px;
    width: auto;
  }

  .about-us .about-head {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 15px;
  }

  .about-text {
    width: 100%;
    padding: 0 25px;
    font-size: 16px;
    line-height: 21px;
    max-width: 100%;
  }

  .divider {
    margin: 30px auto;
  }

  .footer-main .footer-copy-right {
    padding: 30px 0 45px;
  }

  .footer-main .footer-contact-text {
    font-size: 16px;
    line-height: 17px;
  }

  .footer-main .footer-contact-button {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .footer-detail .footer-detail-img {
    margin-bottom: -60px;
  }

  /* .footer-detail .footer-detail-img-wrap::after {
    width: 100%;
    bottom: 15px;
  } */

  .footer-detail .michel-footer-detail-img-wrap::after {
    bottom: 28px;
  }

  /* ------------------- new ------------------- */
  .membership-main {
    margin: 80px 0 0;
  }

  .membership-main .membership-wrap {
    padding: 40px 80px;
  }

  .membership-wrap .membership-head {
    font-size: 24px;
    line-height: normal;
    padding-bottom: 15px;
  }

  .membership-wrap .membership-details {
    padding: 25px 0;
  }

  .membership-details .details-wrap {
    max-width: 100%;
  }

  .details-wrap .details-text {
    font-size: 15px;
    line-height: 20px;
  }

  .popular-main .popular-wrap-scroll {
    overflow-x: scroll;
    width: 100vw;
    padding: 0 23px;
  }

  /* .popular-main .popular-wrap { */
  /* flex-direction: column; */
  /* width: 680px; */
  /* } */

  .popular-card .popular-card-head {
    font-size: 24px;
    line-height: 110%;
  }

  .more-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {

  /* .footer-detail .footer-detail-img-wrap::after {
    width: 100%;
    bottom: 15px;
  } */
  .banner-detail .banner-head {
    max-width: 300px;
  }

  .ashley-greene-banner-new {
    background: url(/static/images/celebrities/ashleyGreene/mobAshelyBg.webp) no-repeat center;
    background-size: cover;
  }

  .greg-louganis-banner-new {
    background: url(/static/images/celebrities/gregLouganis/mobGregBg.webp) no-repeat center;
    background-size: cover;
  }

  .footer-detail .michel-footer-detail-img-wrap::after {
    bottom: 18px;
  }

  .footer-detail .greg-footer-detail-img-wrap::after {
    bottom: 18px;
  }

  .banner-main-warpper .banner-main {
    min-height: 500px;
  }

  .banner-main-warpper .banner-main {
    padding: 25px 19px;
  }

  .membership-main {
    margin: 30px 0 0;
  }

  .loved-by-text {
    font-size: 13px;
  }

  /* .video-main .video-wrapper {
    max-height: 180px;
  } */

  .membership-main .membership-wrap {
    padding: 25px 15px;
  }

  .cross-img {
    height: 18px;
    width: auto;
  }

  .section-reviews {
    padding-top: 30px;
  }

  .popular-main .popular-wrap {
    justify-content: flex-start;
    gap: 20px;
  }


  .quote-section {
    padding: 20px 15px 0;
  }

  .popular-wrap .popular-card {
    width: 300px;
    /* height: 220px; */
    min-width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .banner-main-warpper .banner-main {
    padding: 25px 10px;
  }

  .banner-main .banner-user-img {
    width: 65%;
  }

  .banner-main .michael-beasley-user {
    width: 85%;
  }

  .banner-main .greg-louganis-user {
    top: -15px;
    width: 80%;
  }

  /* .footer-detail .footer-detail-img-wrap::after {
    width: 100%;
    bottom: 12px;
  } */

  .footer-detail .michel-footer-detail-img-wrap::after {
    bottom: 15px;
  }

  .footer-detail .greg-footer-detail-img-wrap::after {
    bottom: 15px;
  }
}

@media screen and (max-width: 320px) {
  .banner-main .banner-user-img {
    width: 75%;
  }

  .banner-main .michael-beasley-user {
    width: 95%;
    top: 25px;
  }

  .banner-main .greg-louganis-user {
    top: -20px;
    width: 95%;
  }

  /* .footer-detail .footer-detail-img-wrap::after {
    width: 100%;
    bottom: -2px;
  } */

  .footer-detail .michel-footer-detail-img-wrap::after {
    bottom: 4px;
  }

  .footer-detail .greg-footer-detail-img-wrap::after {
    bottom: 4px;
  }
}



.invert-arrow {
  transform: rotate(180deg);
}

@font-face {
  font-family: 'Proximanova';
  src: url('/static/newLandingPageContent/fonts/ProximaNova-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proximanova';
  src: url('/static/newLandingPageContent/fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proximanova-paid';
  src: url('/static/newLandingPageContent/fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proximanova-paid';
  src: url('/static/newLandingPageContent/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eina01';
  src: url('/static/newLandingPageContent/fonts/Eina01-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proximanova';
  src: url('/static/newLandingPageContent/fonts/Fontspring-DEMO-proximanova-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}