@use '../../../../styles/' as *;

.container {
  display: flex;
  gap: $space-20;
  align-items: center;
  flex-direction: column;
}

.title {
  @include font-500-default-semibold;

  max-width: 90%;
  text-align: center;
}

@include themify($themes) {
  .title {
    color: themed('text-primary-main');
  }
}
