@use '../../../../../styles/' as *;

.includesCard {
  @include shadow-soft-card-s;
  width: calc(50% - 10px);
  height: 603px;
  border-radius: $border-radius-16;
  padding: $space-32;
  position: relative;
  background-color: $white-alpha-main;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.includeLabel {
  @include font-600-default-semibold;
  max-width: 90%;
}

.includeValue {
  @include font-325-default-regular;
  font-size: 15px;
  line-height: normal;
  margin-top: $space-4;
}

.includeDescription {
  @include multilineEllipsis(3);
  @include font-400-default-regular;
}

.eventCards {
  margin: 25px 14px 18px;
  height: 100%;
  position: relative;
}

.courseCard {
  margin-top: 0;
}

.liveEventCard {
  bottom: 0;
  right: 0;
}

@include themify($themes) {
  .includeLabel {
    color: themed('text-primary-main');
  }

  .includeDescription {
    color: themed('text-secondary-500');
  }
}

@media screen and (max-width: 768px) {
  .includesCard {
    height: 470px;
    padding: $space-20;
  }
  
  .eventCards {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .includesCard {
    width: 100%;
    height: 426px;
    padding: $space-20;
    border-radius: $space-16;
  }

  .includeLabel {
    @include font-500-default-semibold;
  }

  .includeDescription {
    @include font-400-default-regular;
  }

  .eventCards {
    margin: 0;
  }
}
