@use '../../../../styles/' as *;

.contentWrapper {
  width: 360px;
  position: relative;
}

.discountCode {
  @include font-400-default-bold;

  background: linear-gradient(53deg, #ff4c4c 0%, #ff00b8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.influencerCard {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin-bottom: 10px;
}

.influencerImage {
  border-radius: $border-radius-full;
  height: 92px;
  width: 92px;
  margin-top: 52px;
}

.influencerCardHeader {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: $space-16;
  right: $space-16;
  padding: $space-0 $space-16;
  display: flex;
  justify-content: space-between;
}

.influencerCardTitle {
  @include font-500-default-semibold;
  margin-bottom: $space-4;
}

.influencerCardSubtitle {
  @include font-400-default-regular;
}

.cardBg {
  background: url('/static/images/referNew/cardBg.png');
  opacity: 1;
  height: 660px;
  position: absolute;
  z-index: -1;
  width: 360px;
}

.signupCard {
  width: 100%;
  border-radius: 16px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);
}

.influencerBackground {
  background: $white-alpha-main;
}

.referralTitle {
  @include font-500-default-semibold;
  text-align: center;
  padding: $space-0 $space-32;
  color: #2f3237;
  margin-bottom: 7px;
}

.referralSubtitle {
  @include font-400-default-regular;
  text-align: center;
  padding: $space-0 $space-32;
  color: #2f3237;
}

.cardContent {
  padding: 16px 20px;
}

.liveCard {
  padding: 14px 16px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  height: 217px;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
}

.cardWrapper {
  height: 184px;
  width: auto;
  border-radius: 12px;
  margin-bottom: $space-12;
  position: relative;
}

.cardOverlay {
  position: absolute;
  height: 184px;
  width: 100%;
  border-radius: $space-12;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  z-index: 0;
}

.cardContentWrapper {
  padding: 8px;
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  gap: $space-12;
}

.playListBadge {
  @include font-300-default-regular;
  display: flex;
  height: 24px;
  padding: 10px $space-8;
  justify-content: flex-end;
  align-items: center;
  gap: $space-2;
  flex-shrink: 0;
  border-radius: $border-radius-full;
  backdrop-filter: blur(30px);
  width: fit-content;
}

.playListName {
  @include font-450-default-semibold;

  /* stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix */
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* stylelint-enable property-no-vendor-prefix, value-no-vendor-prefix */
  margin-left: 8px;
}

.socialProofWrapper {
  display: flex;
  margin-top: 28px;
  gap: 42px;
  flex-direction: column;
}

.socialProofIcons {
  display: flex;
  align-items: center;
  gap: 36px;
  justify-content: center;
}

.starRating {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.trackInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.coachInfoWrapper {
  display: flex;
  align-items: center;
  padding-top: 13px;
  border-top: 1px solid #ffffff4d;
  width: 100%;
  gap: 12px;
}

.typeWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.liveBadge {
  border-radius: 100.613px;
  background: #fff;
  height: 23px;
  padding: 3px 14px;
  width: max-content;
  display: flex;
  align-items: center;
}

.imageCollage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 160px;
  width: 138px;
  margin-top: 4px;
  gap: 8px;
}

.imageCollage img {
  width: 65px;
  height: 76px;
  border-radius: 8px;
}

.singleImage {
  height: 160px;
  width: 137px;
  margin-top: 4px;
}

.singleImage img {
  height: 100%;
  width: 100%;
  border-radius: $space-8;
  object-fit: cover;
}

.cardLeftContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

@media (max-width: 768px) {
  .contentWrapper {
    max-width: 100%;
    margin-top: -13px;
  }

  .cardBg {
    height: 650px;
    position: absolute;
    width: 610px;
    z-index: -1;
    filter: blur(40px);
    margin-left: -40px;
    opacity: 1;
  }

  .liveCard {
    margin-bottom: 16px;
  }
}

@media (max-width: 576px) {
  .contentWrapper {
    width: 324px;
  }

  .cardBg {
    height: 670px;
    width: 90vw;
    position: absolute;
    margin-left: -40px;
    filter: blur(4px);
  }

  .cardContent {
    padding: $space-16;
  }

  .influencerImage {
    margin-top: 30px;
  }

  .influencerCardHeader {
    gap: $space-0;
  }

  .starRating {
    flex-direction: column;
    gap: 5px;
    width: auto;
    justify-content: center;
  }

  .cardLeftContent {
    width: 43%;
  }

  .cardContentWrapper {
    gap: 8px;
  }
}
@media (max-width: 479px) {
  .cardBg {
    margin-left: -20px;
  }
}

@include themify($themes) {
  .playListBadge {
    background: themed('specialty-secondary-transparent-on-color-soft-350');
    color: themed('text-primary-on-color-main');
  }

  .playListName {
    color: themed('text-primary-on-color-main');
  }
}
