#
# Configure file to ignore when building the docker image
#
# Copyright Aura Health Inc
#

# OS
.DS_Store

# Configuration
.env
.env.sample
.gitignore

# Docker
Dockerfile

# node
node_modules
npm-debug.log

# test
test
jest.config.js

# application
README.md

# Heroku
heroku.yml
