@use '../../../../styles/' as *;

.yourTeamSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-32;
  width: 100%;
}

.yourTeamText {
  @include font-800-default-semibold;

  text-align: center;
}

.yourTeamCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 754px;

  &.singleCoach {
    justify-content: center;
  }
}

.yourTeamMembersCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 100%;
}

.coachCard {
  width: 100%;
  max-width: 754px;
  height: auto;
  @include shadow-soft-card-s;
  border-radius: 16px;
  padding: $space-20;
  display: flex;
  gap: $space-24;
}

.coachProfileImage {
  width: 47%;
  height: fit-content;
  border-radius: $border-radius-16;
  object-fit: cover;
}

.coachName {
  @include font-600-default-semibold;

  margin-bottom: $space-8;
}

.coachProfessionalTitle {
  @include font-450-default-regular;
  margin-bottom: $space-16;
}

.coachBio {
  @include font-400-default-regular;
}

.memberCard {
  @include shadow-soft-card-s;

  border-radius: $border-radius-12;
  display: flex;
  gap: $space-12;
  padding: $space-16;
  width: 32%;
  flex-direction: column;
}

.memberProfile {
  height: 193px;
  border-radius: $border-radius-12;
  width: 100%;
  object-fit: cover;
}

.coachInfoWrapper {
  display: flex;
  gap: $space-4;
  flex-direction: column;
}

.memberName {
  @include font-500-default-semibold;
}

.memberProfessionalTitle {
  @include font-350-default-regular;
}

.experianceList {
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.experianceListItem {
  @include font-400-default-regular;

  gap: $space-16;
  display: flex;
}

.bullet {
  height: 6px;
  width: 6px;
  border-radius: $border-radius-full;
  min-height: 6px;
  min-width: 6px;
  margin-top: 8px;
  background-color: #2f3237;
}

.memberCardHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@include themify($themes) {
  .coachCard {
    background-color: themed('background-primary-main');
  }

  .memberCard {
    background-color: themed('background-primary-main');
  }

  .coachProfessionalTitle {
    color: themed('text-primary-main');
  }

  .yourTeamText {
    color: themed('text-primary-main');
  }

  .coachName {
    color: themed('text-primary-main');
  }

  .coachBio {
    color: themed('text-secondary-500');
  }

  .memberName {
    color: themed('text-primary-main');
  }

  .memberProfessionalTitle {
    color: themed('text-secondary-500');
  }

  .experianceListItem {
    color: themed('text-secondary-500');
  }
}

@media screen and (max-width: 1024px) {
  .memberCard {
    width: 45%;
  }
}

@media screen and (max-width: 576px) {
  .yourTeamSection {
    gap: $space-24;
    width: 100%;
  }

  .yourTeamText {
    @include font-600-default-semibold;
    text-align: left;
    width: 100%;
  }

  .coachCard {
    border-radius: $border-radius-16;
    padding: $space-16;
    flex-direction: column;
  }

  .coachProfileImage {
    height: 198px;
    width: 100%;
    border-radius: $space-16;
  }

  .coachName {
    @include font-500-default-semibold;
    margin-bottom: 4px;
  }

  .coachProfessionalTitle {
    @include font-400-default-regular;
    margin-bottom: $space-12;
  }

  .coachBio {
    @include font-400-default-regular;
  }

  .yourTeamCards {
    gap: $space-16;
  }

  .memberCard {
    width: 100%;
  }
}
