@use '../../../../../styles/' as *;

.cardWrapper {
  @include shadow-soft-card-s;

  width: 352px;
  padding: $space-16;
  border-radius: $border-radius-16;
  display: flex;
  gap: $space-20;
  flex-direction: column;
  height: fit-content;
  position: sticky;
  top: 10px;
}

.communityVideo {
  height: 180px;
  width: 100%;
}

.badgeImages {
  @include shadow-soft-card-s;

  display: flex;
  gap: $space-8;
  width: fit-content;
}

.badgesImage {
  height: 40px;
  width: auto;
  border-radius: $space-8;
  max-width: calc(50% - 4px);
  object-fit: contain;
}

.joinCommunityText {
  @include font-550-default-semibold;
}

.communityJoinInfoTable {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.communityOfferingsSection {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  gap: $space-16;
}

.offerTitle {
  @include font-350-default-regular;
}

.offerValue {
  @include font-350-default-regular;

  max-width: 90%;
}

.totalValueText {
  @include font-350-default-semibold;
}

.yourCostPerMonth {
  @include font-350-default-semibold;
  background: linear-gradient(196deg, #9dd400 0%, #5ce4b3 103.24%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.totalValueStrike {
  @include font-350-default-semibold;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    height: 1.5px;
    background-color: #ff3b30;
    transform: rotate(18deg);
  }
}

.offeringsTableDivider {
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  height: 1px;
  border: 0;
}

.logoWrapper {
  @include shadow-soft-card-s;
  width: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 8px;
  background: #fff;
}

@include themify($themes) {
  .cardWrapper {
    background-color: themed('background-primary-main');
  }

  .joinCommunityText {
    color: themed('text-primary-main');
  }

  .totalValueText {
    color: themed('text-primary-main');
  }

  .offerTitle {
    color: themed('text-primary-main');
  }

  .offerValue {
    color: themd('text-teritary-400');
  }

  .offeringsTableDivider {
    background-color: themed('border-secondary-transparent-200');
    color: themed('border-secondary-transparent-200');
    border-color: themed('border-secondary-transparent-200');
  }

  .totalValueStrike {
    color: themed('text-error');
  }
}
