@use '../../../../styles/' as *;

.purchaseCourseWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 714px;
  width: 100%;
}

.purchaseCourseButton {
  display: flex;
  justify-content: center;
  margin-top: $space-4;
  width: 100%;
  max-width: 324px;
}

.coursePriceDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.priceHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 4px;
}

.coursePrice {
  @include font-800-default-semibold;
  color: #2f3237;

  text-align: center;
}

.discountText {
  @include font-450-default-regular;
  color: #5b657a;
  text-align: center;
  margin-top: $space-4;
}

.discount {
  background: linear-gradient(196deg, #9dd400 0%, #5ce4b3 103.24%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.courseWorth {
  @include font-325-default-regular;
  color: #5b657a;
  text-align: center;
}

.purchaseCourseFor {
  @include font-600-default-semibold;
  color: #2f3237;
}

.originalValueStrike {
  @include font-800-default-semibold;
  position: relative;
  color: #9092a3;

  &::before {
    content: '';
    position: absolute;
    top: 37%;
    left: 2px;
    height: 4px;
    width: 75px;
    background-color: #9092a3;
    transform: rotate(19deg);
  }
}

.gradientGiftIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  background-color: $white-alpha-main;
  border-radius: 50%;
}

.communityExclusiveText {
  @include font-450-default-regular;

  color: #5b657a;
  margin-top: 4px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .purchaseCourseButton {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .purchaseCourseFor {
    @include font-600-default-semibold;
  }

  .coursePrice {
    @include font-600-default-semibold;
  }

  .originalValueStrike {
    @include font-600-default-semibold;

    &::before {
      top: 42%;
      left: 3px;
      width: 55px;
      transform: rotate(15deg);
    }
  }

  .purchaseCourseButton {
    width: 100%;
  }
}
