@use '../../../styles/' as *;

.coachRowInfo {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.youreIn {
  @include font-700-default-semibold;

  margin-bottom: 28px;
}

.eventImage {
  width: 94px;
  height: 94px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.eventTitle {
  @include font-600-default-semibold;

  margin-bottom: 12px;
}

.eventScheduleDetails {
  display: flex;
  align-items: center;
  gap: $space-24;
}

.iconColor {
  color: #9092a3;
}

.eventScheduleItem {
  @include font-400-default-semibold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.evntTimezone {
  @include font-400-default-semibold;
}

.calendarInvite {
  @include font-450-default-regular;

  margin-top: $space-16;
  text-align: center;
}

.scanQrCode {
  @include font-450-default-regular;

  text-align: center;
  margin-top: $space-24;
  margin-bottom: $space-12;
  max-width: 352px;
}

.auraButton {
  margin-top: 24px;
}

.hr {
  width: 352px;
  margin-top: $space-24;
  margin-bottom: $space-0;
  border: 0;
  height: 1px;
  background: #9092a3;
  opacity: 0.2;
}

@include themify($themes) {
  .youreIn {
    color: themed('text-primary-main');
  }

  .eventTitle {
    color: themed('text-primary-main');
  }

  .eventScheduleItem {
    color: themed('text-primary-main');
  }

  .calendarInvite {
    color: themed('text-secondary-500');
  }

  .scanQrCode {
    color: themed('text-secondary-500');
  }
}
