@use '../../../../styles/' as *;

.sucessScreenBackground {
  background: url('/static/images/event-success-bg.png')
    no-repeat !important;
  background-size: cover !important;
}

.outerWrap {
  padding-top: 40px;
  position: relative;
}

.main {
  max-width: 1210px;
  position: relative;
  width: 100%;
  padding: 0 40px;
}

.auraLogoWithText {
  height: 40px;
  width: auto;
}

.arrow {
  width: 7px;
  height: 13px;
  margin-top: 5px;
}

.backButton {
  position: absolute;
  bottom: -50px;
  left: 3px;
  z-index: 3;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.defaultBackground {
  background: linear-gradient(180deg, rgba(247, 251, 252, 0) 0%, #f7fbfc 100%);
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
}

.opticalBackground {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.signinButton {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.backgroundCongrats {
  position: fixed;
  height: 100vh;
}

.arrow {
  width: 7px;
  height: 13px;
  margin-top: 5px;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .backButton {
    position: relative;
    bottom: unset;
    left: unset;
  }

  .main {
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .outerWrap {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .main {
    padding: 0 20px;
  }
}
