@use '../../../../styles' as *;

.container {
  margin-bottom: 40px !important;
  justify-content: center;
}

.containerPadding {
  padding: 0 $space-20;
  margin-top: -54px;
}

.noContainerMargin {
  margin-top: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapperCenter {
  width: 95%;
}

.choosePlanText {
  @include font-500-default-semibold;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: $space-12;
}

.itemWrapper {
  @include shadow-soft-card-s;

  width: 100%;
  border-radius: $border-radius-12;
  overflow: hidden;
}

.itemContent {
  padding: $space-12 $space-20 $space-12 $space-16;
  display: flex;
  justify-content: space-between;
  gap: $space-8;
}

.itemContentCenter {
  align-items: center;
}

.leftSection {
  display: flex;
  gap: $space-12;
  align-items: center;
}

.rightSection {
  display: flex;
  gap: $space-4;
  align-items: center;
}

.priceWrapper {
  margin-top: 6px;
  display: flex;
  gap: 6px;
}

.monthText {
  @include font-550-default-semibold;
}

.priceText {
  @include font-350-default-regular;
}

.discountedPrice {
  @include font-350-default-regular;

  text-decoration: line-through;
  text-decoration-color: #ff3b30;
}

.dailyPricePrefix {
  @include font-700-default-semibold;

  font-size: 46px;
  font-weight: 400;
  line-height: 42px;
}

.dailyPriceDecimal {
  @include font-350-default-regular;
}

.perDayText {
  @include font-350-default-regular;

  margin-top: 2px;
}

.contactForRefundText {
  @include font-400-default-regular;

  text-align: center;
  max-width: 290px;
}

.moneyGuaranteeContainer {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  align-items: center;
}

.moneyGuaranteeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.moneyGuaranteeContent {
  display: flex;
  gap: $space-8;
  align-items: center;
}

.moneyGuaranteeText {
  @include font-450-default-semibold;

  max-width: 320px;
}

.mostPoularItem {
  border: 1px solid #2bade4;
}

.mostPopularBadge {
  width: 100%;
  border-radius: 0;
  height: 24px;
  background: linear-gradient(90deg, #2bade4 0%, #18ccc5 100%);
}

.saveBadge {
  background: linear-gradient(242deg, #7fba00 17.31%, #4bcd9e 82.69%);
  margin-right: $space-4;
}

@include themify($themes) {
  .choosePlanText {
    color: themed('text-primary-main');
  }

  .itemWrapper {
    background-color: themed('background-primary-transparent-soft-white-400-100');
    color: themed('text-primary-main');
  }

  .monthText {
    color: themed('text-primary-main');
  }

  .priceText {
    color: themed('text-secondary-500');
  }

  .priceTextWhite {
    color: themed('text-primary-main');
  }

  .discountedPrice {
    color: themed('text-secondary-500');
  }

  .dailyPricePrefix {
    color: themed('text-primary-main');
  }

  .perDayText {
    color: themed('text-secondary-400');
  }

  .contactForRefundText {
    color: themed('text-secondary-500');
  }

  .moneyGuaranteeText {
    color: themed('text-primary-main');
  }
}
