@use '../../../styles/' as *;

.coachRowInfo {
  margin-top: 10px;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  position: absolute;
  top: $space-0;
  height: 250px;
  width: 300px;
}

.frameContainer {
  position: relative;
  height: 250px;
  margin-left: $space-72;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

}

.infoContainer {
  position: absolute;
  top: 45px;
  transform: translateX(-13%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseImage {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.course {
  width: 200px;
  position: relative;
  box-shadow: 0 12px 77px rgba(43, 42, 107, 0.05);
  border-radius: $border-radius-12;
  background: $white-alpha-main;
  padding: 15px 5px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greenCheck {
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 42px;
  height: 42px;
}

.hr {
  width: 100%;
  margin-top: $space-0;
  margin-bottom: $space-0;
  border: 0;
  height: 1px;
  background: #9092a3;
  opacity: 0.2;
}

.smsButtonContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-height: 700px) {
  .frame {
    width: 340px;
    height: auto;
  }

  .frameContainer {
    height: 310px;
  }

  .meeting {
    width: 220px;
  }

  .infoContainer {
    left: -140px;
  }
}

@media screen and (max-width: 576px) {
  .coachRowInfo {
    margin-top: $space-0;
  }

  .frame {
    width: 340px;
    height: auto;
  }

  .frameContainer {
    height: 310px;
  }

  .meeting {
    width: 220px;
    margin-top: 16px;
  }

  .infoContainer {
    top: 50px;
    left: -140px;
  }
}
