@use '../../../../styles/' as *;

.purchaseCourseWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 714px;
  width: 100%;
}

.purchaseCourseHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.purchaseCourseButton {
  display: flex;
  justify-content: center;
  margin-top: $space-4;
  width: 100%;
  max-width: 324px;
}

.coursePriceHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.coursePriceDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coursePrice {
  @include font-800-default-semibold;
  color: #2f3237;
  margin-top: $space-4;
}

.discountText {
  @include font-450-default-regular;
  color: #5b657a;
  text-align: center;
}

.discount {
  background: linear-gradient(196deg, #9dd400 0%, #5ce4b3 103.24%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.courseWorth {
  @include font-325-default-regular;
  color: #5b657a;
  text-align: center;
}

.purchaseCourseFor {
  @include font-600-default-semibold;
  color: #2f3237;
}

.originalValueStrike {
  @include font-800-default-semibold;
  position: relative;
  color: #9092a3;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: $space-24;
    right: $space-24;
    height: $space-4;
    width: 100px;
    background-color: #9092a3;
    transform: rotate(30deg);
  }
}

.gradientGiftIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  background-color: $white-alpha-main;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .purchaseCourseButton {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .purchaseCourseFor {
    @include font-600-default-semibold;
  }

  .coursePrice {
    @include font-600-default-semibold;

    margin-top: $space-8;
  }
  
  .purchaseCourseButton {
    width: 100%;
  }
}
