@use '../../../../styles/' as *;

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}

.auraAppText {
  @include font-400-default-regular;
}

@include themify($themes) {
  .auraAppText {
    color: themed('text-secondary-500');
  }
}
