@use '../../../styles/' as *;

.paymentModal {
  position: fixed;
  z-index: 5;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: $space-16;
  justify-content: center;
  display: flex;
  overflow: auto;
  align-items: center;
}
