@use '../../../../styles/' as *;

.eventGoingContainer {
  display: flex;
  align-items: center;
  gap: $space-24;
}

.eventGoingLabel {
  @include font-400-default-semibold;
  min-width: 100px;
}

.eventGoingListWrapper {
  display: flex;
  align-items: center;
  gap: $space-16;
  flex-wrap: wrap;
}

.remainingCountCircle {
  @include font-350-default-semibold;
  min-height: 32px;
  min-width: 32px;
  border-radius: 50%;
  background-color: #ededf0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

@include themify($themes) {
  .eventGoingLabel {
    color: themed('text-primary-main');
  }

  .remainingCountCircle {
    color: themed('text-tertiary-400');
  }
}

@media screen and (max-width: 576px) {
  .eventGoingContainer {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }

  .eventGoingLabel {
    @include font-400-default-semibold;
  }

  .eventGoingListWrapper {
    gap: auto;
    flex-wrap: wrap;
  }

  .remainingCountCircle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ededf0;
    align-self: flex-start;
  }
}
