@use '../../../../styles/' as *;

.hostLocation {
  display: flex;
  align-items: center;
  gap: $space-24;
}

.eventLocationLabel {
  @include font-400-default-semibold;

  min-width: 100px;
}

.eventLocationWrapper {
  display: flex;
  align-items: center;
  gap: $space-16;
}

.zoomMeetingLabel {
  @include font-450-default-semibold;
}

.zoomMeetingTime {
  @include font-350-default-regular;
}

@include themify($themes) {
  .zoomMeetingTime {
    color: themed('text-secondary-500');
  }

  .zoomMeetingLabel {
    color: themed('text-primary-main');
  }

  .eventLocationLabel {
    color: themed('text-primary-main');
  }
}

@media screen and (max-width: 768px) {
  .eventLocationLabel {
    @include font-400-default-semibold;
  }

  .zoomIcon {
    height: 32px;
    width: 32px;
  }

  .zoomMeetingLabel {
    @include font-400-default-semibold;
  }
}

@media screen and (max-width: 576px) {
  .hostLocation {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
}
