@use '../../../../../styles/' as *;

.includesCard {
  @include shadow-soft-card-s;
  width: calc(50% - 10px);
  height: 603px;
  border-radius: $border-radius-16;
  padding: $space-32;
  position: relative;
  background-color: $white-alpha-main;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.includeLabel {
  @include font-600-default-semibold;
}

.includeValue {
  @include font-325-default-regular;
  font-size: 15px;
  line-height: normal;
  margin-top: $space-4;
}

.includeDescription {
  @include multilineEllipsis(3);
  @include font-400-default-regular;
}

.cardBody {
  height: 100%;
  width: 100%;
}

.courseInnerCardCoachImage {
  width: 263px;
  height: 414px;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: cover;
  border-radius: $border-radius-16;
}

@include themify($themes) {
  .includeLabel {
    color: themed('text-primary-main');
  }

  .includeDescription {
    color: themed('text-secondary-500');
  }

  .includeValue {
    color: themed('text-tertiary-400');
  }
}

@media screen and (max-width: 768px) {
  .includesCard {
    padding: $space-20;
    border-radius: $space-16;
    height: 470px;
  }

  .courseInnerCardCoachImage {
    height: 300px;
    width: 215px;
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 576px) {
  .includesCard {
    width: 100%;
    height: 426px;
    padding: $space-20;
    border-radius: $space-16;
  }

  .cardContainer {
    gap: $space-16;
  }

  .includeLabel {
    @include font-500-default-semibold;
  }

  .includeValue {
    @include font-325-default-regular;
    margin-top: $space-0;
  }

  .cardInfo {
    width: 100%;
  }

  .includeDescription {
    @include font-400-default-regular;
  }

  .courseInnerCardCoachImage {
    width: 157px;
    height: 247px;
    border-radius: $border-radius-10;
  }
}
