@use '../../../styles/' as *;

.yourCoachWrapper {
  display: flex;
  flex-direction: column;
  gap: $space-32;
}

.yourCoachLabel {
  @include font-800-default-semibold;
}

.coachCommunityCard {
  @include shadow-soft-card-s;

  display: flex;
  flex-direction: column;
  gap: $space-24;
  padding: $space-20;
  border-radius: $border-radius-16;
}

.coachInfoHeader {
  display: flex;
  gap: $space-24;
  align-items: center;
}

.yourCoachProfileImage {
  height: 150px;
  width: 150px;
  border-radius: $border-radius-16;
  object-fit: cover;
}

.yourCoachName {
  @include font-600-default-semibold;
  margin-bottom: $space-4;
}

.yourCoachDesignation {
  @include font-400-default-regular;
}

.yourCoachDescription {
  @include font-400-default-regular;
}

@include themify($themes) {
  .coachCommunityCard {
    background-color: themed('background-primary-main');
  }

  .yourCoachLabel {
    color: themed('text-primary-main');
  }

  .yourCoachName {
    color: themed('text-primary-main');
  }

  .yourCoachDesignation {
    color: themed('text-tertiary-400');
  }

  .yourCoachDescription {
    color: themed('text-secondary-500');
  }
}

@media screen and (max-width: 576px) {
  .yourCoachWrapper {
    gap: $space-24;
  }

  .yourCoachLabel {
    @include font-600-default-semibold;
  }

  .coachCommunityCard {
    @include shadow-soft-card-s;

    border-radius: $border-radius-12;
    padding: $space-12;
    gap: $space-12;
  }

  .coachInfoHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: $space-16;
  }

  .yourCoachProfileImage {
    width: 100%;
    height: 156px;
    border-radius: $border-radius-12;
  }

  .yourCoachName {
    @include font-450-default-semibold;
  }

  .yourCoachDesignation {
    @include font-350-default-regular;
  }
}
